/*header section*/
.Xavier_header {
    height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f7fd), color-stop(45%, #1d1e31));
  background: linear-gradient(to right, #f2f7fd 50%, #1d1e31 45%);
}